<div class="background">
    <div>
        <h1 class="header">Jeopardy</h1>
    </div>
    <div class="center">
        <div class="row">
            <mat-card class="scoreBoxes">Player 1 {{player1Score | currency : 'USD' : 'symbol' : '1.0-0'}}</mat-card>
            <mat-card class="scoreBoxes">Player 2 {{player2Score | currency : 'USD' : 'symbol' : '1.0-0'}}</mat-card>
        </div>
    </div>
    <div class="center tilesBg">
        <div class="row">
            <div *ngFor='let x of categories'>
                <mat-card class="categoryBox">{{x.category}}</mat-card>
            </div>
        </div>
        <div>
            <div class="row" *ngFor='let i of points'>
                <mat-card id="{{i.value}}_Sports" (click)="openSportsDialog(i.value)" class="pointsBoxes">${{i.value}}
                </mat-card>
                <mat-card id="{{i.value}}_History" (click)="openHistoryDialog(i.value)" class="pointsBoxes">${{i.value}}
                </mat-card>
                <mat-card id="{{i.value}}_PopCulture" (click)="openPopCultureDialog(i.value)" class="pointsBoxes">
                    ${{i.value}}</mat-card>
                <mat-card id="{{i.value}}_Food" (click)="openFoodDialog(i.value)" class="pointsBoxes">${{i.value}}
                </mat-card>
                <mat-card id="{{i.value}}_Science" (click)="openScienceDialog(i.value)" class="pointsBoxes">${{i.value}}
                </mat-card>
            </div>
        </div>
    </div>
</div>