.header{
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 25px
}

.background{
    background-color: darkblue;
    height: 600px;
}

.pointsBoxes{
    margin-top: 15px;
    width: 80px;
    height: fit-content;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.tilesBg{
    background-color: #4541b5;
    width: min-content;
    margin-bottom: 100px;
    padding-bottom: 10px;
}

.scoreBoxes{
    margin-top: 15px;
    width: 80px;
    height: fit-content;
    margin-right: 10px;
    background-color: green;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.row{
    display: inline-flex;
}

.categoryBox{
    margin-top: 15px;
    width: 80px;
    height: fit-content;
    background-color: skyblue;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.center{
    margin: auto;
    text-align:center;
}

.disabled{
    color: white;
    pointer-events: none;
}
