<div class="center">
    <h1 class="center header">Dictionary</h1>
    <mat-form-field class="contents" appearance="fill">
        <mat-label>Search here:</mat-label>
        <input matInput type="text" (keyup.enter)="searchDictionary()" [(ngModel)]="value">
        <button matSuffix mat-icon-button aria-label="enter" (click)="searchDictionary()">
            <mat-icon>check</mat-icon>
        </button>
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>

    <div *ngIf='value !== "" '>
        <div class="row">
            <h2>Word:</h2>
            <h2 class="word">{{word}}</h2>
        </div>
        <div *ngFor='let x of definitions'>
            <mat-card class="cards">
                <div class="row">
                    <h4>Part of speech:</h4>
                    <h3 style="color: blue; margin-left: 10px;"> {{x.partOfSpeech.toUpperCase()}}</h3>
                </div>
                <div *ngFor='let i of x.definitions'> Definition: <p style="color: green;">{{i.definition}}</p>
                </div>
            </mat-card>
        </div>
    </div>
</div>